:root {
    --primary: #181818;
    --secondary: #333333;
    --thirdy: #9600db80;
    --offwhite: #f0f0f0;
    --red: #d35151;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100vh;
}

.footer {
    font-weight: 200;
    text-align: center;
    position: fixed;
    bottom: 20px;
    color: white;
    font-size: 13px;
    opacity: 50%;
}

.footer a {
    text-decoration: none;
    color: white;
    transition: color 300ms;
}

.footer a:hover {
    color: var(--thirdy);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
    border: 1px solid var(--thirdy);
    width: 400px;
    border-radius: 30px;
    margin-bottom: 10rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

.search div {
    display: flex;
    flex-direction: column;
}

.search img {
    width: 15px;
    filter: invert(100%);
}

.search input {
    text-align: center;
    margin-bottom: 0.5rem;
    border: none;
    border-bottom: 2px solid var(--offwhite);
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    color: var(--offwhite);
    width: 100px;
}

.search input:focus {
    outline: none;
}

.search h1 {
    margin: 1rem 0 0 0;
    color: var(--offwhite);
}

.search h2 {
    margin: 0;
    font-size: 11px;
    font-weight: 300;
    color: var(--offwhite);
    text-align: center;
}

.search button {
    border: 1px solid var(--offwhite);
    border-radius: 10px;
    padding: 5px 0;
    background-color: transparent;
    cursor: pointer;
}

.search button:hover {
    border-color: var(--thirdy);
    transition: border-color 300ms;
}

.searchResult {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}

.picture {
    margin-bottom: 1rem;
}

.picture a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture img {
    width: 70%;
    border-radius: 90px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: filter 300ms;
}

.picture img:hover {
    filter: brightness(60%);
}

.info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: var(--primary);
    width: max-content;
    border-radius: 30px;
    padding: 1rem;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.info h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0;
    font-size: 13px;
}

.info h2 img {
    width: 20px;
    filter: invert(100%);
}

.errorMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: var(--offwhite);
    background-color: var(--red);
    padding: 1rem;
    font-size: 13px;
    border-radius: 20px;
    margin-bottom: 1rem;
}